<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Orders</title>
    <link rel="stylesheet" href="seller-orders.component.css">
</head>
<body>
<section>
    <h2 style="text-align: center;">Seller Orders</h2> 
    <table >
        <thead> 
         
            <tr>
                <th>Order ID</th>
                <th>Product Name</th>
                <th>Product Key</th>
                <th>Status</th>
                <th>Order Date</th>
                <th>Quantity (dozens)</th>
                <th>Quantity (boxes)</th>
                <th>Total Price</th>
                <th>Delivery Address</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let order of orders; let i = index">
                <td>{{order.id}}</td>
                <td>{{order.product_name}}</td>
                <td>{{order.product_key}}</td>
                <td>
                    <select [(ngModel)]="orders[i].status">
                        <option value="Received">Received</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Delivered">Delivered</option>
                    </select>
                </td>
                <td>{{order.date | date:'short'}}</td>
                <td>{{order.quantity_dozen}}</td>
                <td>{{order.quantity_box}}</td>
                <td>{{order.price | currency}}</td>
                <td>{{order.address}}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="changeStatus()">Update Status</button> 
</section>
</body>
</html>
