body {
  align-items: center;
  text-align: center;
  
  
  background-image:url('../../../../assets/img/bglogin.svg');
      justify-content: center;
     
      height: 52vh;
      margin: 1;
    }
  
    table {
      text-align: center;
      justify-content: center;
      border-collapse: collapse;
      width: 50%;
      border: 0;
      align-items: flex-start;
      background-image:url('../../../../assets/img/bglogin.svg');
      font-size: large;
    }
  
    th, td {
      background-color: #66111179;
      align-content: center;
      border: 5px solid #0f0f0f;
      text-align: center;
      padding: 3px;
      background-image:url('../../../../assets/img/bglogin.svg');
    }
  
    th {
      background-color: #f2f2f200;
      background-image:url('../../../../assets/img/bglogin.svg');
    }


