<html>

<head>
 
  
  
  </head>

<body>

<style>
    .hidden {
    display: none;
}
</style>

<p>&nbsp;</p>
<table align="center" border="3">


<div>

    <div>
        
        <form [formGroup]="registerForm" (ngSubmit)="submit()">

            <div class="input-container hidden">
                <label>Storefront ID</label>
                <div>
                    <input type="text" formControlName="storefront_id" readonly /> <!-- Set readonly to prevent user input -->
                </div>
            </div>

            <div class="input-container">

                <p>&nbsp;</p>
                <label>Product Key</label>
                <div>
                    <input label ="product_key" type="product_key" placeholder="product_key" formControlName="product_key"/>
                </div>

                <div class="error-list" *ngIf="fc['product_key'].errors && isSubmitted">
                    <div *ngIf="fc['product_key'].errors['required']">Should not be empty</div>
                </div>
              
            </div>
            
            <div class="input-container">

               
                <label>Name</label>
                <div>
                    <input label ="name" type="name" placeholder="name" formControlName="name"/>
                </div>
                <div class="error-list" *ngIf="fc['name'].errors && isSubmitted">
                    <div *ngIf="fc['name'].errors['required']">Should not be empty</div>
                </div>
              
          </div>
 
            <div class="input-container">
                <label>Description</label>
                <div>
                    <input label ="description" type="description" placeholder="description" formControlName="description"/>
                </div>

            </div>

          
            <div class="input-container">
                <label>Tag</label>
                <div>
                    <select formControlName="tags">
                        <option value="">Select Tag</option>
                        <option value="Toys">Toys</option>
                        <option value="Jewelry">Jewelry</option>
                        <option value="Home Supplies">Home Supplies</option>
                        <option value="School Supplies">School Supplies</option>
                        <option value="Sports and Outdoors">Sports and Outdoors</option>
                    </select>
                </div>
                <div class="error-list" *ngIf="fc['tags'].errors && isSubmitted">
                    <div *ngIf="fc['tags'].errors['required']">Select a tag</div>
                </div>
            </div>
       
            <div class="input-container">
                <label>Price per dozen</label>
                <div>
                    <input type="price_per_dozen" placeholder="price_per_dozen" formControlName="price_per_dozen"/>
                </div>
                <div class="error-list" *ngIf="fc['price_per_dozen'].errors && isSubmitted">
                    <div *ngIf="fc['price_per_dozen'].errors['required']">Should not be empty</div>
                </div>
            </div>

            <div class="input-container">
                <label>Price per dozen when purchasing a box (If it applies)</label>
                <div>
                    <input type="price_box" placeholder="price_box" formControlName="price_box"/>
                </div>
            </div>

            <div class="input-container">
                <label>Number of dozens in box (If it applies)</label>
                <div>
                    <input type="pieces_per_box" placeholder="Pieces per Box" formControlName="pieces_per_box"/>
                </div>
            </div>

            <div class="input-container">
                <label>Total number of dozens</label>
                <div>
                    <input type="total_pieces" placeholder="" formControlName="total_pieces"/>
                </div>
                <div class="error-list" *ngIf="fc['total_pieces'].errors && isSubmitted">
                    <div *ngIf="fc['total_pieces'].errors['required']">Should not be empty</div>
                </div>
            </div>
       
            <div class="input-container">
                <label>Product Image</label>
                <div>
                    <input type="file" (change)="onFileSelected($event)" /> <!-- Set readonly to prevent user input -->
                    <img *ngIf="logoBase64" [src]="logoBase64" alt="Selected Logo" style="max-width: 100px;">
                </div>
            </div>

            <div class="button">
                <button type="submit">Register</button>
            </div>
        </form>
       
    </div>
</div>

</table>
</body>

</html>