.logo{
    max-width: 100px;
}

body {
    background-image: url('../../../../assets/img/bglogin.svg');
    background-size: cover;
    background-position: center;
    font-size: larger;
    font-style: normal;
    height: 60vh;
    font: optional;
    
}

    
      table {
        text-align: center;
        justify-content: center;
        border-collapse: collapse;
        width: 50%;
        border: 0;
        align-items: flex-start;
       
        font-size: large;
      }
    
      th, td {
        background-color: #66111179;
        align-content: center;
        border: 3px solid #0f0f0f;
        text-align: center;
        padding: 3px;
      }
    
      th {
        background-color: #f2f2f200;
       
      }
      p {
        color: rgb(22, 255, 138);
        align-content: center;
        align-self: center;
    }
    h3 {
      color: #b8ff03; 
  }