<!DOCTYPE html>
<html>

<head>
 
    <link rel="stylesheet" type="text/css" href="login-page.component.css">
 
  </head>

<body>

    <table align="center" style="width:30%;" >
      
    
<tr><td align="center" width="200" height="160">
   
<div>
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
           <div class="input-container">
                <h3><label>Email</label></h3>
                <div>
                    <input type="email" placeholder="Email" formControlName="email"/>
                </div>

                <div class="error-list" *ngIf="fc['email'].errors && isSubmitted">
                    <div *ngIf="fc['email'].errors['required']">Should not be empty</div>
                    <div *ngIf="fc['email'].errors['email']">Email is not correct</div>
                </div>
            </div>
            <div class="input-container">
               <h3> <label>Password</label></h3>
                <div>
                    <input type="password" placeholder="Password" formControlName="password"/>
                </div>

                <div class="error-list" *ngIf="fc['password'].errors && isSubmitted">
                    <div *ngIf="fc['password'].errors['required']">Should not be empty</div>
                </div>
            </div>
            <div class="button">
               
           <h5> <button type="submit"><b>Login</b></button></h5>
            </div>
            

        </form>
    
    </div>
</div>
</td></tr>
</table>
</body>
</html>