<!DOCTYPE html>
<html>
  <head>
 
    <link rel="stylesheet" type="text/css" href="home.component.css">
    
  </head>
<body>
  
  
  <table align="left" style="width:100%;">

   <tr align="left">
    
      <td align="left" style="width:20%; border:0;">

        <ul>
          <li><a href="#">&nbsp;Automotive</a></li>
          <li><a href="#">&nbsp;Sports &amp; Outdoors</a></li>
          <li><a href="#">&nbsp;Books &amp; Media</a></li>
          <li><a href="#">&nbsp;Jewelry &amp; Watches</a></li>
          <li><a href="#">&nbsp;Industrial &amp; Scientific</a></li>
          <li><a href="#">&nbsp;Pet Supplie s</a></li>
          <li><a href="#">&nbsp;Baby Products</a></li>
        </ul>
        
    </td>
   
    <td *ngFor="let product of products.slice(0, 4); let i = index" align="center" style="width:50%; ">

        <a routerLink="/product/{{product.id}}">
          <img [src]="product.imageUrl" [alt]="product.name" width="200px" height="200px" border="1" >
          <div class="container">
              <div class="name">
                  {{product.name}}
                  {{product.description}}
              </div>
              <div class="name">
                  <span>
                      {{product.price_per_dozen | currency}}
                  </span>
              </div>
          </div>
      </a>
    </td>
    
  </tr>
  <td>

  </td>
 
    <td *ngFor="let product of products.slice(4, 9); let i = index" align="center" style="width:70px; background-color: rgb(255, 255, 255);">

      <a routerLink="/product/{{product.id}}">
        <img [src]="product.imageUrl" [alt]="product.name" width="200px" height="200px" border="1">
        <div class="content">
            <div class="name">
                {{product.name}}
                {{product.description}}
            </div>
            <div class="name">
                <span>
                    {{product.price_per_dozen | currency}}
                </span>
            </div>
        </div>
    </a>
  
  </td>
  



</table>

</body>
</html>
