<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" type="text/css" href="home.component.css">

</head>

<body>

  <div class="container">
    <div class="search-container">
      <div style="margin-right: 20px;">
        <span>Name</span>
        <input [(ngModel)]="productName" style="width: 300px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);" type="text" placeholder="Enter product name">
      </div>

      <div>
        <span>Store</span>
        <input [(ngModel)]="productStore" style="width: 300px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);" type="text" placeholder="Enter product store">
      </div>

      <button (click)="handleSearch()" style="margin-left: 20px; padding: 10px 20px; background-color: #f0c14b; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Search</button>
    </div>

    <div class="tag-container">
      <div class="tag-item" (click)="handleSearchAll()">All</div>
      <div *ngFor="let tags of tagsArr" class="tag-item" (click)="handleTagSearch(tags)">{{tags}}</div>
    </div>

    <div class="product-grid">
      <div *ngFor="let product of filteredProducts" class="product-card">
        <a routerLink="/product/{{product.id}}">
          <img [src]="product.imageUrl" [alt]="product.name">
          <div class="container">
            <div class="name">{{product.name}}</div>
            <div class="price">Price per box: {{product.price_box | currency}} <br> Price per dozen: {{product.price_per_dozen | currency}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>

</body>

</html>