
 
     
       
      body
      {
        background-color:#fffbfb8e ;
      }
       
          .background-table {         
            border-collapse: collapse;
            background-image: url('../../../../assets/img/bg22.svg');
            margin-top: 0%;
          }

          
     
        .background-table tr, .background-table td {
          border: 0px solid #fffbfb8e; 
       
        }
          .background-table td {
            
          text-align: center;
        }
        
        
        
        
        ul {

      list-style-type: none;
      margin:0%;
 
      
      
    }

    li {
      float: left;

      margin:0%;
      padding:2px 6px;
      
    }

    li a {
      font-size:large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-display:initial;
      color: rgb(0, 0, 0);
      text-align: center;

     background-color: #b6b5b5;
   
      text-decoration:solid;
      margin:0%;
      padding:2px 75px;
     
      

    }

    li a:hover {
      background-color: #d13535;
      backface-visibility: visible;

      padding:2px 75px;
    

    }

    .search-container {
      float: right;
      padding: 10px;
    }

    .search-box {
      padding: 6px;
      margin-right: 6px;
    }


    

