

<head>
 
  <link rel="stylesheet" type="text/css" href="product-page.component.css">

</head>

<table>

<tr align="center">
  <td>
<div>
  <img [src]="product.imageUrl" />

  <div class="details">
    <div class="header">
      {{product.name}}
    </div>
    <div class="price">
      <span>
        Price per dozen: <strong>{{product.price_per_dozen | currency}} </strong>
      </span>
      <span *ngIf="product.total_boxes !== 0">
        Price per dozen in box: <strong>{{product.price_box | currency}} (Box contains {{product.pieces_per_box}} dozens) </strong>
      </span>
    </div>
  </div>

  <div>
    <div *ngIf="product.total_pieces !== 0">
      <label>
        <input type="radio" name="buyOption" [(ngModel)]="selectedOption" value="Buy per dozen"> Buy per dozen
      </label>
    </div>
    <div *ngIf="product.total_boxes !== 0">
      <label >
        <input type="radio" name="buyOption" [(ngModel)]="selectedOption" value="Buy per Box"> Buy per Box
      </label>
    </div>
  </div>

  <div *ngIf="selectedOption === 'Buy per dozen'">
    <label for="quantitySelect">Select Quantity:</label>
    <select #quantitySelect>
      <option *ngFor="let number of generateNumbers()">{{ number }}</option>
    </select>

    <img src="assets/img/cart.svg" width="40" height="30" class="cartIcon" (click)="addToCart(quantitySelect.value,'0')">
  </div>

  <div *ngIf="selectedOption === 'Buy per Box'">
    <label for="quantitySelectBox">Select Quantity of Boxes:</label>
    <select #quantitySelectBox>
      <option *ngFor="let number of generateNumbersBox()">{{ number }}</option>
    </select>

    
    <img *ngIf="product.total_boxes !== 0 && product.total_pieces !== 0  " src="assets/img/cart.svg" width="40" height="30" class="cartIcon" (click)="addToCart('0',quantitySelectBox.value)">
    <p *ngIf="product.total_boxes == 0 && product.total_pieces == 0 "> Out of Stock </p>
  </div>

</div></td>
</tr>
</table>